:root {
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}
input {
  padding: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  transition: all .15s ease-in-out;
}
input::placeholder {
  color: #b1b1b1;
}
input:focus {
  border: 1px solid #4688f1;
  box-shadow: 0px 0px 3px #4688f1;
}
.reg-form {
  min-width: 150px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 25px;
  background: #edeef2;
  border-radius: 3px;
  text-align: center;
  color: #4b4c4c;
}
.form-header {
  margin-bottom: 1.3em;
}
.form-heading {
  display: flex;
  margin-bottom: 15px;
  font-size: 2.1rem;
  font-weight: 500;
}
.form-heading:before,
.form-heading:after { 
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #4b4c4c;
  margin: auto;
}
.form-heading:before {
  margin-right: 10px;
}
.form-heading:after {
  margin-left: 10px;
}
.form-caption {
  font-family: Verdana, sans-serif;
  font-size: .9rem;
  font-weight: 500;
}
.reg-form-wrapper {
  display: flex;
  flex-direction: column;
}
.form-input,
.accept-terms-wrapper,
.form-button,
.plans-wrapper {
  margin: .8em 0;
}
.name-wrapper {
  display: flex;
  justify-content: space-between;
}
.name-input {
  width: 47%;
}
.plans-heading {
  font-size: 1.25rem;
  font-weight: 500;
}
.plans-wrapper {
  display: flex;
  justify-content: space-around;
}
.terms-link {
  text-decoration: none;
  color: #70ab70;
}
.form-button {
  padding: .8em 0;
  background-image: linear-gradient(to top, #538c55, #579459, #5a9c5d, #5ea461, #62ac65);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.45);
  font-weight: 700;
  color: #fff;
  transition: transform .25s ease-in-out;
}
.form-button:hover {
  transform: scale(1.03);
}


